---
import { TrafficLight } from '../components/TrafficLight'
import { Game } from '../components/Game'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <TrafficLight client:load />
    <Game client:load />
	</body>
</html>

<!---->
<!-- <style is:global> -->
<!-- body { -->
<!-- display: grid; -->
<!-- grid-template-columns: 1fr 400px 1fr; -->
<!-- width: 100%; -->
<!-- } -->
<!--   & > * { -->
<!--     grid-column: 2; -->
<!-- } -->
<!---->
<!-- </style> -->
